<%- include('../partials/header') %>

    <div id="recipes-wrapper">
      <% recipes.forEach(recipe=>{ %>
        <div class="card form-div my-card-div" style="width: 18rem;">
        <form action="/recipes/<%= recipe.id %>?_method=DELETE"
          class="delete-form" method="POST">
        <button class="close-btn btn btn-danger" type="submit">X</button>
       </form>
              <a href="<%= recipe.link %>" target="_blank" ><img src="<%= recipe.picture %>" class="card-img-top" alt="..."></a><input name="picture" value="<%= recipe.picture %>" hidden="true">
              <div class="card-body my-card-body">


                
                  <h5 class="card-title " >
                    <div hidden="true">
                      <form action="/recipes/myrecipes/<%= recipe.id %>/save" class="update-form" method="POST">


                        <div class="input-group mb-3">
                          <input type="text" name="name" class="form-control" value="<%= recipe.name %>"  id="<%= recipe.id %>">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Save</button>
                          </div>
                        </div>




                    </div>
                    <span class="my-cards">
                      <%= recipe.name %>
                    </span>
                  </form>
                  </h5>
                


              </div>
                <div class="calories-wrapper">   <span class="p-text" name="calories"><input name="calories" value="<%= recipe.calories %>" hidden="true"><%= Math.floor(recipe.calories) %> Cal</span></div>
            </div>
      <% }) %>
      </div>
  </body>
</html>
